@import "../../scss/style";

section {
  margin-top: 100px;
  padding: 60px 0;

  #faq-list {
    list-style: none;
    padding: 0;

    li {
      border-bottom: 1px solid #dddddd;
    }

    a {
      display: block;
      font-family: $accent-font;
      font-size: 22px;
      font-weight: 300;
      line-height: 1;
      padding: 18px 20px 18px 0;
      position: relative;

      &.collapse {
        color: $accent-color;
      }
      &.collapsed {
        color: #000000;
        i::before {
          content: "\f2c7" !important;
        }
      }
    }

    i {
      font-size: 24px;
      position: absolute;
      right: 0;
      top: 16px;
    }

    p {
      margin-bottom: 20px;
    }
  }
}