<section>
  <div class="container">
    <div class="section-header">
      <h3 class="section-title">Najczęściej zadawane pytania (FAQ)</h3>
      <span class="section-divider"></span>
      <p class="section-description">Sprawdź najczęściej spotykane wątpliwości, jak nie znajdziesz odpowiedzi koniecznie napisz.</p>
    </div>
    <ul id="faq-list" data-aos="fade-up">
      <li>
        <a href="" class="collapsed" role="link">Czym jest RunnersElite? <i class="ion-md-add"></i></a>
        <div id="faq1" class="collapse">
          <p>RunnersElite jest pierwszy w Polsce e-klub biegowym w formie innowacyjnej platformy do wspólnego realizowania planów treningowych, wymiany doświadczeń oraz wspólnych startów biegowych.
          </p>
        </div>
      </li>
      <li>
        <a href="" class="collapsed" role="link">Co tutaj znajdę? <i class="ion-md-add"></i></a>
        <div id="faq2" class="collapse">
          <p>RunnersElite jest pierwszy w Polsce e-klub biegowym w formie innowacyjnej platformy do wspólnego realizowania planów treningowych, wymiany doświadczeń oraz wspólnych startów biegowych.
          </p>
        </div>
      </li>
      <li>
        <a href="" class="collapsed" role="link">Jak się zapisać do klubu? <i class="ion-md-add"></i></a>
        <div id="faq3" class="collapse">
          <p>RunnersElite jest pierwszy w Polsce e-klub biegowym w formie innowacyjnej platformy do wspólnego realizowania planów treningowych, wymiany doświadczeń oraz wspólnych startów biegowych.
          </p>
        </div>
      </li>
      <li>
        <a href="" class="collapsed" role="link">Kim są użytkownicy RunnersElite? <i class="ion-md-add"></i></a>
        <div id="faq4" class="collapse">
          <p>RunnersElite jest pierwszy w Polsce e-klub biegowym w formie innowacyjnej platformy do wspólnego realizowania planów treningowych, wymiany doświadczeń oraz wspólnych startów biegowych.
          </p>
        </div>
      </li>
      <li>
        <a href="" class="collapsed" role="link">Ile kosztuje członkostwo? <i class="ion-md-add"></i></a>
        <div id="faq5" class="collapse">
          <p>RunnersElite jest pierwszy w Polsce e-klub biegowym w formie innowacyjnej platformy do wspólnego realizowania planów treningowych, wymiany doświadczeń oraz wspólnych startów biegowych.
          </p>
        </div>
      </li>
      <li>
        <a href="" class="collapsed" role="link">Mam inne pytanie <i class="ion-md-add"></i></a>
        <div id="faq6" class="collapse">
          <p>RunnersElite jest pierwszy w Polsce e-klub biegowym w formie innowacyjnej platformy do wspólnego realizowania planów treningowych, wymiany doświadczeń oraz wspólnych startów biegowych.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>