<header>
  <div class="container">
    <div id="logo" class="pull-left">
      <h1><a href="#intro" role="link" class="scrollto">RunnersElite</a></h1>
    </div>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <ul class="menu-active"><a href="#intro" role="link">Strona główna</a></ul>
        <li><a href="#features" role="link">Funkcje</a></li>
        <li><a href="#pricing" role="link">Cennik</a></li>
        <li><a href="#about" role="link">O klubie</a></li>
        <li><a href="#gallery" role="link">Galeria</a></li>
        <li><a href="#contact" role="link">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>