<header>
  <div class="container">
    <div id="logo" class="pull-left">
      <h1>
        <a href="#intro" role="link" class="scrollto" alt="RunnersElite" title="RunnersElite">RunnersElite</a>
      </h1>
    </div>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <ul class="menu-active"><a href="" role="link" alt="Strona główna" title="Strona główna">Strona główna</a></ul>
        <li><a href="" role="link" alt="Funkcje" title="Funkcje">Funkcje</a></li>
        <li><a href="" role="link" alt="Cennik" title="Cennik">Cennik</a></li>
        <li><a href="" role="link" alt="O klubie" title="O klubie">O klubie</a></li>
        <li><a href="" role="link" alt="Galeria" title="Galeria">Galeria</a></li>
        <li><a href="" role="link" alt="Kontakt" title="Kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>