<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright">&copy; {{ myDate | amDateFormat: 'YYYY' }} <strong>RunnersElite</strong>. Wykonanie
          <a href="http://ditectrev.com" alt="Ditectrev" title="Ditectrev" target="_blank">Ditectrev</a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0" role="navigation">
          <a href="#politka-prywatnosci" role="link" alt="Polityka prywatności" title="Polityka prywatności">Polityka prywatności</a>
          <a href="#informacje-o-cookies" role="link" alt="Informacje o cookies" title="Informacje o cookies">Informacje o cookies</a>
          <a href="#regulamin" role="link" alt="Regulamin" title="Regulamin">Regulamin</a>
          <a href="#faq" role="link" alt="FAQ" title="FAQ">FAQ</a>
        </nav>
      </div>
    </div>
  </div>
</footer>