<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright">&copy; {{ myDate | amDateFormat: 'YYYY' }} <strong>EliteRunnersClub</strong>. Wykonanie
          <a href="http://ditectrev.com" alt="Ditectrev" title="Ditectrev" target="_blank">Ditectrev</a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0" role="navigation">
          <a
            role="link"
            routerLink="{{ route.url }}"
            title="{{ route.name }}"
            *ngFor="let route of routes; let i = index"
          >
            {{ route.name }}
          </a>
        </nav>
      </div>
    </div>
  </div>
</footer>