<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-4">
        <div class="section-header" data-aos="fade" data-aos-duration="1000">
          <h3 class="section-title">Funkcje</h3>
          <span class="section-divier"></span>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 features-img">
        <img src="assets/images/product-features.png" alt="" title="" data-aos="fade-right" data-aos-easing="ease-out-back">
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="row">
          <div class="col-lg-6 col-md-6 box" data-aos="fade-left">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Oszczędność czasu</a></h4>
            <p class="description">Wprowadzenie danych za dzień treningowy zajmuje jedynie kilkanaście sekund, a na podstawie danych jesteś w stanie mierzyć progress.</p>
          </div>
          <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="100">
            <div class="icon"><i class="ion-ios-flask-outline"></i></div>
            <h4 class="title"><a href="">Eksperyment</a></h4>
            <p class="description">Klub Biegacza RunnersElite jest zarówno społecznością zrzeszającą fanatyków biegania, jak i innowacyją platformą internetową.</p>
          </div>
          <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="200">
            <div class="icon"><i class="ion-social-buffer-outline"></i></div>
            <h4 class="title"><a href="">Kompleksowe raporty</a></h4>
            <p class="description">Twórz interaktywny dziennik treningowy na podstawie kilometrażu, wadze, wzroście i wyświetlaj historyczne dane w postaci wykresów.</p>
          </div>
          <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="300">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Badaj formę</a></h4>
            <p class="description">Porównuj swój dziennik treningowy z innymi biegaczami zrzeszonymi w platformie, poprawiaj swoje i innych wyniki dzięki RunnersElite.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>