@import "../../scss/style";

section {
  margin: 120px 0;
  .features-row {
    padding: 60px 0 30px 0;
  }
  h3 {
    color: $golden-dream;
    margin: 20px 0;
  }
  p {
    color: $text-color;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: justify;
  }
}

app-footer-gallery.filter-image1 img {
  &:first-child {
    filter: brightness(100%);
    margin-top: -30px!important;
  }
  filter: brightness(50%);
}
