<section>
  <div class="features-row section-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Twój los zależy od podejmowanych wyzwań</h2>
        </div>
        <div class="col-12">
          <!-- TODO: Styling. -->
          <h2>Po co jesteśmy?</h2>
          <p data-aos="zoom-in-down" data-aos-delay="800" data-aos-duration="1500">Żyjemy w społeczności inwestującej w sport.<br>Tworzymy Klub pozytywnie zmotywowanych do biegania, ludzi dzielących się wspólną pasją.<br>Dajemy Ci siłę do samorozwoju oraz zmiany stylu życia. Integrujemy ze środowiskiem biegaczy<br>Pomożemy Ci w kształtowaniu nowych więzi i relacji sportowych<br>Nasza pasja pozwala nam koncentrować siły w realizacji wspólnych przedsięwzięć, a także<br>tworzyć nowe miejsce wspólnych spotkań i wymiany informacji<br>Dołącz do nas. Jesteśmy wyjątkowi, Ty też będziesz.</p>
        </div>
      </div>
    </div>
  </div>
</section>
