<section class="section-bg">
  <div class="container-fluid">
    <div class="section-header">
      <h3 class="section-title">O klubie</h3>
      <span class="section-divider"></span>
      <p class="section-description">Klub RunnersElite powstał jako pierwszy w Polsce e-klub biegacza w formie platformy internetowej naszym celem jest wymiana doświadczeń, niezależnie od miejsca</p>
    </div>
    <div class="row">
      <div class="col-lg-6 about-img" data-aos="fade-right">
        <img src="assets/images/about-img.jpg" alt="" title="">
      </div>

      <div class="col-lg-6 content" data-aos="fade-left">
        <h2>Postaw na nas i już dzisiaj zmień swoje bieganie na lepsze</h2>
        <h3>Społeczność biegowa jeszcze nigdy nie była tak blisko Ciebie</h3>
        <ul>
          <li><i class="ion-md-checkmark-circle-outline"></i>Interaktywna platforma</li>
          <li><i class="ion-md-checkmark-circle-outline"></i>Doświadczeni biegacze</li>
          <li><i class="ion-md-checkmark-circle-outline"></i>Wzajemna pomoc</li>
        </ul>
        <p>Platforma internetowa RunnersElite, a zarazem Klub Biegacza dostarcza zaawansowane raporty w przyjaznej człowiekowi formie wizualnej na podstawie wprowadzanych danych takich jak tygodniowy kilometraż, ilość przebiegniętych kilometrów na każdym treningu w podstawie zwizualizowanych danych przystępnych do odczytu.</p>
      </div>
    </div>
  </div>
</section>