@import "../../scss/style";

app-footer-gallery.filter-image1 img {
  &:first-child {
    filter: brightness(100%);
    margin-top: -30px!important;
  }
  filter: brightness(50%);
}

app-footer-dots.filter-dots1 span {
  &:first-child {
    filter: brightness(100%);
  }
  filter: brightness(50%);
}
