<section>
  <div class="features-row section-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img class="feature-img-right" src="assets/images/why.jpg" alt="" title="" data-aos="fade-right">
          <div>
            <h2>Po co jesteśmy</h2>
            <i class="ion-ios-checkmark-outline" data-aos="fade-right" data-aos-delay="400"></i>
            <p data-aos="fade-left" data-aos-delay="400"><b>Integracja</b> ze środowiskiem biegaczy i pokrewnymi, zmiana stylu życia, kształtowanie nowych więzi i relacji.</p>
            <i class="ion-ios-checkmark-outline" data-aos="fade-right" data-aos-delay="800"></i>
            <p data-aos="fade-left" data-aos-delay="800"><b>Koncentracja sił</b> realizacji wspólnych przedsięwzięć.</p>
            <i class="ion-ios-checkmark-outline" data-aos="fade-right" data-aos-delay="1200"></i>
            <p data-aos="fade-left" data-aos-delay="1200"><b>Kreowanie marki</b> poprzez świadomość członkostwa klubowego.</p>
            <i class="ion-ios-checkmark-outline" data-aos="fade-right" data-aos-delay="1600"></i>
            <p data-aos="fade-left" data-aos-delay="1600"><b>Miejsce spotkań</b> wymiana informacji, forum do rozmowy.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img class="feature-img-left" src="assets/images/benefits.jpg" alt="" title="" data-aos="fade-right">
          <div class="higher-feature">
            <h2>Korzyści</h2>
            <i class="ion-ios-checkmark-outline" data-aos="fade-left"></i>
            <p data-aos="fade-right"><b>Wymierne korzyści materialne dzięki</b> zniżkom w opłatach startowych i zakupach sportowych, rabaty grupowe dla wycieczek i zgrupowań treningowych.</p>
            <i class="ion-ios-checkmark-outline" data-aos="fade-left" data-aos-delay="400"></i>
            <p data-aos="fade-right" data-aos-delay="400"><b>Rozwój pasji</b> &ndash; wzrost jakości życia przez sport, pozytywne emocje, radość i energia.</p>
            <i class="ion-ios-checkmark-outline" data-aos="fade-left" data-aos-delay="800"></i>
            <p data-aos="fade-right" data-aos-delay="800"><b>Innowacyjność</b> &ndash; jedyna, niepowtarzalna społeczność ogólnopolska, przynależność motywująca ciało i umysł.</p>
            <i class="ion-ios-checkmark-outline" data-aos="fade-left" data-aos-delay="1200"></i>
            <p data-aos="fade-right" data-aos-delay="1200"><b>Funkcjonalność</b> &ndash; komunikacja w klubie, treningi, analizy aktywności, rywalizacje.</p>
            <i class="ion-ios-checkmark-outline" data-aos="fade-left" data-aos-delay="1600"></i>
            <p data-aos="fade-right" data-aos-delay="1600"><b>Identyfikacja</b> &ndash; wizerunek, stroje, karty członkowskie, programy lojalnościowe.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-row section-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img src="assets/images/for-whom.jpg" alt="" title="" class="feature-img-right" data-aos="fade-right">
          <div>
            <h2>Dla kogo</h2>
            <i class="ion-ios-people-outline" data-aos="fade-right" data-aos-delay="500"></i>
            <p data-aos="fade-left" data-aos-delay="500"><b>Wszyscy dorośli</b> inwestujący w sport. Pozytywnie zmotywowani do biegania. Oczekujący samorozwoju w społecznoci klubowej, przynależności grupowej oraz chęci dzielenia sie wspólną pasją.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
