<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- TODO: Styling. -->
        <h3>Korzyści?</h3>
        <p data-aos="zoom-in-down" data-aos-delay="400" data-aos-duration="800">Przede wszystkim &ndash; <strong>rozwój pasji</strong> &ndash; wzrost jakości życia, pozytywne emocje, radość i energia.<br>Tworzymy jedyną, <strong>niepowtarzalną społeczność</strong> ogólnopolską, motywującą ciało i umysł.<br><strong>Dajemy funkcjonalność</strong> &ndash; aplikacje i narzędzia do komunikacji w klubie, treningów, a także analizy aktywności i realizacji.<br><strong>Tworzymy wyjątkowość</strong> &ndash; poprzez ujednolicony wizerunek, stroje, karty członkowskie i programy lojalnościowe.<br>Wspieramy <strong>oferując korzyści</strong> &ndash; dzięki zniżkom w opłatach startowych i zakupach sportowych, rabaty grupowe dla wycieczek i zgrupowań treningowych.</p>
        <p data-aos="zoom-in-down" data-aos-delay="800" data-aos-duration="1500">Pierwszy w Polsce e-klub biegowy w formie platformy do wspólnego realizowania planów treningowych, wymiany doświadczeń oraz wspólnych startów biegowych.</p>
      </div>
    </div>
  </div>
</section>
<div class="overlay text-center">
  <app-footer-gallery class="filter-image2"></app-footer-gallery>
  <h2 class="text-center">Wykonaj dzisiaj to, czego inni nie chcą zrobić. Jutro będziesz posiadać to, co pozostali pragną mieć.</h2>
  <app-footer-dots class="filter-dots2"></app-footer-dots>
</div>
