<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- TODO: Styling. -->
        <h3>Korzyści?</h3>
        <p data-aos="zoom-in-down" data-aos-delay="800" data-aos-duration="1500">Przede wszystkim &ndash; rozwój pasji &ndash; wzrost jakości życia, pozytywne emocje, radość i energia. Tworzymy jedyną, niepowtarzalną społeczność ogólnopolską, motywującą ciało i umysł. Dajemy funkcjonalność &ndash; aplikacje i narzędzia do komunikacji w klubie, treningów, a także analizy aktywności i realizacji.<br>Tworzymy wyjątkowość &ndash; poprzez wizerunek, stroje, karty członkowskie programy lojalnościowe. Wspieramy oferując korzyści &ndash; dzięki zniżkom w opłatach startowych i zakupach sportowych, rabaty grupowe dla wycieczek i zgrupowań treningowych.</p>
      </div>
    </div>
  </div>
</section>
<div class="overlay text-center">
  <app-footer-gallery class="filter-image2"></app-footer-gallery>
  <h2 class="text-center">Twój los zależy od podejmowanych wyzwań</h2>
  <app-footer-dots></app-footer-dots>
</div>
