@import "../../scss/style";

section {
  margin: 120px 0;
  h3 {
    color: $golden-dream;
    margin: 20px 0;
  }
  p {
    text-align: justify;
  }
}

app-footer-gallery.filter-image2 img {
  &:first-child + img {
    filter: brightness(100%);
    margin-top: -30px!important;
  }
  filter: brightness(50%);
}
