<section>
  <div class="intro-text">
    <h2>Witaj w EliteRunnersClub</h2>
    <p>Jesteśmy klubem zrzeszającym biegaczy chcących osiągnąć coś więcej</p>
    <a routerLink="o-klubie" role="link" class="btn-get-started scrollto">Wchodzę</a>
  </div>
  <!-- TODO: Optimize for AOS -->
  <div class="product-screens">
    <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
      <img src="assets/images/product-screen-1.png" alt="" title="">
    </div>
    <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
      <img src="assets/images/product-screen-2.png" alt="" title="">
    </div>
    <div class="product-screen-3" data-aos="fade-up">
      <img src="assets/images/product-screen-3.png" alt="" title="">
    </div>
  </div>
</section>