@import "../../scss/style";

h3 {
  color: $golden-dream;
  float: right;
  margin: 0 -170px 0 0;
  text-transform: capitalize;
  text-align: right;
}

mdb-carousel img {
  height: 100vh;
}

@media (max-width: 991px) {
  .carousel-caption {
    display: none;
  }

  mdb-carousel img {
    height: 80vh;
    top: 20px;
  }
}
