<section>
  <div class="container-fluid">
    <div class="section-header">
      <h3 class="section-title">Galeria</h3>
      <span class="section-divider"></span>
      <p class="section-description">Sprawdź kilka naszych zdjęć</p>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-6">
        <!-- TODO: Fix AOS. -->
        <!--<div class="gallery-item" data-aos="fade-up">-->
        <div class="gallery-item">
          <a href="../../assets/images/gallery/gallery-1.jpg" class="gallery-popup" role="link">
            <img src="../../assets/images/gallery/gallery-1.jpg" alt="" title="">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- TODO: Fix AOS. -->
        <!--<div class="gallery-item" data-aos="fade-up">-->
        <div class="gallery-item">
          <a href="../../assets/images/gallery/gallery-2.jpg" class="gallery-popup" role="link">
            <img src="../../assets/images/gallery/gallery-2.jpg" alt="" title="">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- TODO: Fix AOS. -->
        <!--<div class="gallery-item" data-aos="fade-up">-->
        <div class="gallery-item">
          <a href="../../assets/images/gallery/gallery-3.jpg" class="gallery-popup" role="link">
            <img src="../../assets/images/gallery/gallery-3.jpg" alt="" title="">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- TODO: Fix AOS. -->
        <!--<div class="gallery-item" data-aos="fade-up">-->
        <div class="gallery-item">
          <a href="../../assets/images/gallery/gallery-4.jpg" class="gallery-popup" role="link">
            <img src="../../assets/images/gallery/gallery-4.jpg" alt="" title="">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- TODO: Fix AOS. -->
        <!--<div class="gallery-item" data-aos="fade-up">-->
        <div class="gallery-item">
          <a href="../../assets/images/gallery/gallery-5.jpg" class="gallery-popup" role="link">
            <img src="../../assets/images/gallery/gallery-5.jpg" alt="" title="">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- TODO: Fix AOS. -->
        <!--<div class="gallery-item" data-aos="fade-up">-->
        <div class="gallery-item">
          <a href="../../assets/images/gallery/gallery-6.jpg" class="gallery-popup" role="link">
            <img src="../../assets/images/gallery/gallery-6.jpg" alt="" title="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>