section {
  background: #ffffff;
  padding: 60px 0 0 0;

  .container-fluid {
    padding: 0;
  }

  .gallery-item {
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: middle;
    text-align: center;

    img {
      transition: all ease-in-out .4s;
      width: 100%;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}