<section class="section-bg">
  <div class="container">
    <div class="section-header">
      <h3 class="section-title">Cennik</h3>
      <span class="section-divider"></span>
      <p class="section-description">Poniżej znajduje się cennik naszego klubu</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box" data-aos="fade-right">
          <h3>Darmowa subskrypcja</h3>
          <h4><sup>zł</sup>0<span> za miesiąc</span></h4>
          <ul>
            <li><i class="ion-android-checkmark-circle"></i> Dostęp do platformy</li>
            <li><i class="ion-android-checkmark-circle"></i> Podstawowe pomiary treningowe</li>
            <li><i class="ion-android-checkmark-circle"></i> Kalendarz biegów</li>
            <li><i class="ion-android-checkmark-circle"></i> Wspólne wyjazdy</li>
          </ul>
          <a href="" role="link" class="get-started-btn">Zaczynam</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box featured" data-aos="fade-up">
          <h3>Płatna subskrypcja</h3>
          <h4><sup>zł</sup>49<span> za miesiąc</span></h4>
          <ul>
            <li><i class="ion-android-checkmark-circle"></i> Wszystko co w darmowej subskrypcji</li>
            <li><i class="ion-android-checkmark-circle"></i> Rozszerzone pomiary treningowe</li>
            <li><i class="ion-android-checkmark-circle"></i> Zaawansowane wykresy wynikowe</li>
            <li><i class="ion-android-checkmark-circle"></i> Wysokiej jakości sprzęt sportowy</li>
          </ul>
          <a href="" role="link" class="get-started-btn">Opłacam</a>
        </div>
      </div>
    </div>
  </div>
</section>