<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="links">
          <a href="https://forum.eliterunnersclub.pl/register" role="link" target="_blank">Rejestracja</a>
          <a href="https://forum.eliterunnersclub.pl/login" role="link" target="_blank">Logowanie</a>
        </div>
        <img src="assets/images/join-club.jpg"
             alt="Dołącz do Klubu"
             title="Dołącz do Klubu"
             class="img-responsive"
        >
      </div>
    </div>
  </div>
</section>
