<section>
  <div class="container">
    <div class="row">
      <!-- TODO: Styling. -->
      <div class="col-12">
        <ul>
          <li><a href="https://forum.eliterunnersclub.pl/login" role="link" target="_blank">Logowanie</a></li>
          <li><a href="https://forum.eliterunnersclub.pl/register" role="link" target="_blank">Rejestracja</a></li>
        </ul>
      </div>
      <div class="col-12">
        <h2 class="text-center">Cieszymy się że jesteś z nami<br>Razem tworzymy wspaniały świat.</h2>
        <img src="assets/images/join-club.jpg"
             alt="Dołącz do Klubu"
             title="Dołącz do Klubu"
             class="img-responsive"
        >
      </div>
    </div>
  </div>
</section>
