<!-- TODO: Delete? -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xs-12">
        <h2 class="text-center">Indywidualny trening</h2>
        <p class="text-center"><b>Istnieje możliwości zamówienia odpłatnie 50 zł za miesięczny rozpisany,
          spersonalizowany cykl treningowy.</b></p>
        <img src="assets/images/sobczyk.jpg" alt="Tomasz Sobczyk" title="Tomasz Sobczyk"
             class="text-center img-responsive">
        <h4 class="text-center"><b>Tomasz Sobczyk</b></h4>
      </div>
      <div class="col-xs-12 col-sm-6 info-section">
        <h4 class="text-center">Informacje o trenerze</h4>
        <i class="ion-ios-information-circle-outline" data-aos="fade-left" data-aos-delay="150"></i>
        <p data-aos="fade-right" data-aos-delay="150">Trener L-A II klasy</p>
        <i class="ion-ios-information-circle-outline" data-aos="fade-left" data-aos-delay="300"></i>
        <p data-aos="fade-right" data-aos-delay="300">Absolwent AWF we Wrocławiu</p>
        <i class="ion-ios-information-circle-outline" data-aos="fade-left" data-aos-delay="450"></i>
        <p data-aos="fade-right" data-aos-delay="450">Wychowawca młodzieży od 2003 roku trenuje uczniów w szkole</p>
        <i class="ion-ios-information-circle-outline" data-aos="fade-left" data-aos-delay="600"></i>
        <p data-aos="fade-right" data-aos-delay="600">Prowadzi szkolenie z zakresu lekkiej atletyki specjalizuje się w zakresie biegów średnich</p>
        <i class="ion-ios-information-circle-outline" data-aos="fade-left" data-aos-delay="750"></i>
        <p data-aos="fade-right" data-aos-delay="750">Jego wychowankowie zajmowali miejsca na podium w OMW – Biegi długie:</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="900"></i>
        <p data-aos="fade-right" data-aos-delay="900">Rafał Wajdzik – 1 miejsce w M-12-2004, 3 miejsce w M-12-2005</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="1050"></i>
        <p data-aos="fade-right" data-aos-delay="1050">Sebastian Kossowski – 2 miejsce w M-16-2006</p>
        <i class="ion-ios-information-circle-outline" data-aos="fade-left" data-aos-delay="1200"></i>
        <p data-aos="fade-right" data-aos-delay="1200">Zakwalifikowali się do Finału Ogólnopolskiego Czwartków Lekkoatletycznych:</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="1350"></i>
        <p data-aos="fade-right" data-aos-delay="1350">Maciej Mazur - 1000m</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="1500"></i>
        <p data-aos="fade-right" data-aos-delay="1500">Zuzanna Adamczuk – skok w dal</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="1650"></i>
        <p data-aos="fade-right" data-aos-delay="1650">Kasia Józefiak - 600m</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="1800"></i>
        <p data-aos="fade-right" data-aos-delay="1800">Jarek Duński - piłka palantowa</p>
        <i class="ion-ios-information-circle-outline" data-aos="fade-left" data-aos-delay="1950"></i>
        <p data-aos="fade-right" data-aos-delay="1950">Zajmowali miejsca na podium w Finale Wojewódzkim Ligi L-A:</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="2100"></i>
        <p data-aos="fade-right" data-aos-delay="2100">2 miejsce – oszczep Adrian Kozik (2007), Grzegorz Wisłocki (2007)</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="2250"></i>
        <p data-aos="fade-right" data-aos-delay="2250">Wychowanek Pana Sebastian Kossowski przekazany w roku 2007 do MKS MOS Wrocław wygrał eliminacje do OOM w
          2007 roku w biegu przełajowym na 5km. W OOM w przełajach w 2007 roku zajął 13 miejsce, w MPJ w 2008 roku na
          przełajach zajął 17 miejsce.</p>
        <i class="ion-ios-information-circle-outline" data-aos="fade-left" data-aos-delay="2400"></i>
        <p data-aos="fade-right" data-aos-delay="2400">Pan od marca 2007 prowadzi zajęcia grupy l-a rocznik 1992-1995. Zajęcia odbywają się w hali i na obiektach
          ZS nr 22 przy ulicy Parkowej 18-26 poniedziałek, czwartek, piątek o godz. 15:30-17:00, sobota o
          godz. 11:00-12:30.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 info-section">
        <h4 class="text-center">Sukcesy jako zawodnik</h4>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="200"></i>
        <p data-aos="fade-right" data-aos-delay="200">1 miejsce – Maraton Ślężański w Sobótce 33km - 2003, 2004, 2005,
          2006, 2007</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="400"></i>
        <p data-aos="fade-right" data-aos-delay="400">1 miejsce – Półmaraton Jaworski 21,1km – 2007, 2008</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="600"></i>
        <p data-aos="fade-right" data-aos-delay="600">1 miejsce - Półmaraton Pszczewski 21,1km – 2008</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="800"></i>
        <p data-aos="fade-right" data-aos-delay="800">1 miejsce - Bieg Ceramika 10km - 2007, 2008</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="1000"></i>
        <p data-aos="fade-right" data-aos-delay="1000">2 miejsce – Maraton Ślężański w Sobótce 33km - 2002</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="1200"></i>
        <p data-aos="fade-right" data-aos-delay="1200">2 miejsce - Sztafeta Zielona Góra - Cottbus - 100km – 2007,
          2008</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="1400"></i>
        <p data-aos="fade-right" data-aos-delay="1400">2 miejsce – Półmaraton Jaworski 21,1km - 2005</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="1600"></i>
        <p data-aos="fade-right" data-aos-delay="1600">2 miejsce – Nocny Bieg Bachusa 10km - 2007</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="1800"></i>
        <p data-aos="fade-right" data-aos-delay="1800">2 miejsce – Nowogrodziecka 10-tka - 2008</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="2000"></i>
        <p data-aos="fade-right" data-aos-delay="2000">3 miejsce – Maniacka Dziesiątka Poznań - 2008</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="2200"></i>
        <p data-aos="fade-right" data-aos-delay="2200">3 miejsce – Bieg Baryczna Milicz -2007</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="2400"></i>
        <p data-aos="fade-right" data-aos-delay="2400">6 miejsce – Maraton Wrocław - 2007</p>
        <i class="ion-ios-trophy-outline" data-aos="fade-left" data-aos-delay="2600"></i>
        <p data-aos="fade-right" data-aos-delay="2600">8 miejsce – Maraton Wrocław- 2006</p>
      </div>
    </div>
  </div>
</section>
