<section>
  <h3 class="text-center">Indywidualny trening</h3>
  <p class="text-center">Istnieje możliwości zamówienia odpłatnie 50 zł za miesięczny rozpisany, spersonalizowany cykl treningowy.</p>
  <img src="assets/images/sobczyk.jpg" alt="Tomasz Sobczyk" title="Tomasz Sobczyk" class="text-center">
  <h5 class="text-center">Opis trenera</h5>
  <ul>
    <li>Tomasz Sobczyk</li>
    <li>Trener L-A II klasy</li>
    <li>Absolwent AWF we Wrocławiu</li>
    <li>Sukcesy jako zawodnik
      <ul>
        <li>1 miejsce – Maraton Ślężański w Sobótce 33km - 2003, 2004, 2005, 2006, 2007</li>
        <li>1 miejsce – Półmaraton  Jaworski 21,1km – 2007, 2008</li>
        <li>1 miejsce - Półmaraton Pszczewski 21,1km – 2008</li>
        <li>1 miejsce - Bieg Ceramika 10km - 2007, 2008</li>
        <li>2 miejsce – Maraton Ślężański w Sobótce 33km - 2002</li>
        <li>2 miejsce - Sztafeta Zielona Góra - Cottbus - 100km – 2007, 2008</li>
        <li>2 miejsce – Półmaraton Jaworski  21,1km - 2005</li>
        <li>2 miejsce – Nocny Bieg Bachusa 10km - 2007</li>
        <li>2 miejsce – Nowogrodziecka 10-tka - 2008</li>
        <li>3 miejsce – Maniacka Dziesiątka Poznań - 2008</li>
        <li>3 miejsce – Bieg Baryczna Milicz -2007</li>
        <li>6 miejsce – Maraton Wrocław - 2007</li>
        <li>8 miejsce – Maraton Wrocław- 2006</li>
      </ul>
    </li>
    <li>Wychowawca młodzieży od 2003 roku  trenuje uczniów w szkole. Prowadzi szkolenie z zakresu lekkiej atletyki specjalizuje się w zakresie biegów średnich.</li>
    <li>Jego wychowankowie zajmowali miejsca na podium w OMW – Biegi długie:
      <ul>
        <li>Rafał Wajdzik – 1 miejsce w M-12-2004, 3 miejsce w M-12-2005</li>
        <li>Sebastian Kossowski – 2 miejsce w M-16-2006</li>
      </ul>
    </li>
    <li>Zakwalifikowali się do Finału Ogólnopolskiego Czwartków Lekkoatletycznych:
      <ul>
        <li>Maciej Mazur - 1000m</li>
        <li>Zuzanna Adamczuk – skok w dal</li>
        <li>Kasia Józefiak - 600m</li>
        <li>Jarek Duński - piłka palantowa</li>
      </ul>
    </li>
    <li>Zajmowali miejsca na podium w Finale Wojewódzkim Ligi L-A:
      <ul>
        <li>2 miejsce – oszczep Adrian Kozik (2007), Grzegorz Wisłocki (2007)</li>
      </ul>
    </li>
    <li>Wychowanek Pana Sebastian Kossowski przekazany w roku 2007 do MKS MOS Wrocław wygrał eliminacje do OOM w 2007 roku w biegu przełajowym na 5km. W OOM w przełajach w 2007 roku zajął 13 miejsce, w MPJ w 2008 roku na przełajach zajął 17 miejsce.</li>
    <li>Pan od marca 2007 prowadzi zajęcia grupy l-a rocznik 1992-1995. Zajęcia odbywają się w hali i na obiektach ZS nr 22 przy ulicy Parkowej 18-26 poniedziałek, czwartek, piątek o godz. 15:30-17:00, sobota o godz.11:00-12:30.
    </li>
  </ul>
</section>
