<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">ZAREJESTRU SIĘ, KORZYSTAJ I ROZWIJAJ SIĘ RAZEM Z NAMI</h2>
        <i class="ion-ios-checkmark-outline" data-aos="fade-right" data-aos-delay="400"></i>
        <p data-aos="fade-left" data-aos-delay="400"><b>Profil osobowy</b> &ndash; twórz społeczność, integruj grupę</p>
        <i class="ion-ios-checkmark-outline" data-aos="fade-right" data-aos-delay="400"></i>
        <p data-aos="fade-left" data-aos-delay="400"><b>Forum dyskusji</b> &ndash; kontaktuj się, wymieniaj doświadczenia</p>
        <i class="ion-ios-checkmark-outline" data-aos="fade-right" data-aos-delay="400"></i>
        <p data-aos="fade-left" data-aos-delay="400"><b>Indywidualny trening</b> &ndash; rób progress, podnoś jakość biegania</p>
        <i class="ion-ios-checkmark-outline" data-aos="fade-right" data-aos-delay="400"></i>
        <p data-aos="fade-left" data-aos-delay="400"><b>Porady</b> &ndash; zdobywaj wiedzę, edukacja kluczem do sukcesu</p>
        <i class="ion-ios-checkmark-outline" data-aos="fade-right" data-aos-delay="400"></i>
        <p data-aos="fade-left" data-aos-delay="400"><b>Stroje klubowe</b> &ndash; buduj markę klubu, tożsamość i identyfikacja wizualna</p>
        <h3 class="text-center">TWÓJE WYNIKI ZALEŻĄ OD ZAANGAŻOWANIA, TWÓJ LOS ZALEŻY OD PODEJMOWANYCH WYZWAŃ</h3>
      </div>
    </div>
  </div>
</section>
