<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">ZAREJESTRU SIĘ, KORZYSTAJ I ROZWIJAJ SIĘ RAZEM Z NAMI</h2>
      </div>
      <div class="col-xs-12 col-md-8">
        <i class="ion-ios-contact-outline" data-aos="fade-right" data-aos-delay="400"></i>
        <p data-aos="fade-left" data-aos-delay="400"><b>Profil osobowy</b> &ndash; twórz społeczność, integruj grupę</p>
        <i class="ion-ios-chatbubbles-outline" data-aos="fade-right" data-aos-delay="800"></i>
        <p data-aos="fade-left" data-aos-delay="800"><b>Forum dyskusji</b> &ndash; kontaktuj się, wymieniaj doświadczenia</p>
        <i class="ion-ios-list-box-outline" data-aos="fade-right" data-aos-delay="1200"></i>
        <p data-aos="fade-left" data-aos-delay="1200"><b>Indywidualny trening</b> &ndash; rób progress, podnoś jakość biegania</p>
        <i class="ion-ios-book-outline" data-aos="fade-right" data-aos-delay="1600"></i>
        <p data-aos="fade-left" data-aos-delay="1600"><b>Porady</b> &ndash; zdobywaj wiedzę, edukacja kluczem do sukcesu</p>
        <i class="ion-ios-shirt-outline" data-aos="fade-right" data-aos-delay="2000"></i>
        <p data-aos="fade-left" data-aos-delay="2000"><b>Stroje klubowe</b> &ndash; buduj markę klubu, tożsamość i identyfikacja wizualna</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="assets/images/applications.jpg" alt="Aplikacje" title="Aplikacje"
             class="text-center img-responsive">
      </div>
      <div class="col-12">
        <h3 class="text-center">TWÓJE WYNIKI ZALEŻĄ OD ZAANGAŻOWANIA, TWÓJ LOS ZALEŻY OD PODEJMOWANYCH WYZWAŃ</h3>
      </div>
    </div>
  </div>
</section>
