@import "../../scss/style";

i {
  color: $text-color;
  float: left;
  font-size: 38px;
  line-height: 1;
  margin-top: -7px;
  padding-right: 15px;
  transition: .5s;
  &:before {
    background: $golden-dream;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

app-footer-gallery.filter-image3 img {
  &:first-child + img + img {
    filter: brightness(100%);
    margin-top: -30px !important;
  }
  filter: brightness(50%);
}

app-footer-dots.filter-dots3 span {
  &:first-child + span + span {
    filter: brightness(100%);
  }
  filter: brightness(50%);
}

@media (max-width: 992px) {
  h2 {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}
