<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- TODO: Styling. -->
      </div>
      <div class="col-xs-12 col-md-8">
        <i class="ion-ios-contact-outline" data-aos="fade-right" data-aos-delay="400"></i>
        <p data-aos="fade-left" data-aos-delay="400"><b>Profil osobowy</b> &ndash; twórz społeczność, integruj grupę</p>
        <i class="ion-ios-chatbubbles-outline" data-aos="fade-right" data-aos-delay="800"></i>
        <p data-aos="fade-left" data-aos-delay="800"><b>Forum dyskusji</b> &ndash; kontaktuj się, wymieniaj doświadczenia</p>
        <i class="ion-ios-list-box-outline" data-aos="fade-right" data-aos-delay="1200"></i>
        <p data-aos="fade-left" data-aos-delay="1200"><b>Indywidualny trening</b> &ndash; rób progress, podnoś jakość biegania</p>
        <i class="ion-ios-book-outline" data-aos="fade-right" data-aos-delay="1600"></i>
        <p data-aos="fade-left" data-aos-delay="1600"><b>Porady</b> &ndash; zdobywaj wiedzę, edukacja kluczem do sukcesu</p>
        <i class="ion-ios-shirt-outline" data-aos="fade-right" data-aos-delay="2000"></i>
        <p data-aos="fade-left" data-aos-delay="2000"><b>Stroje klubowe</b> &ndash; twórz tożsamość i identyfikację wizualną oraz buduj markę klubu</p>
      </div>
    </div>
  </div>
</section>
<div class="overlay text-center">
  <app-footer-gallery class="filter-image3"></app-footer-gallery>
  <h2 class="text-center">Niech aktywność biegowa staje się Twoją przyjemnością, a przyjemność stylem życia.</h2>
  <app-footer-dots></app-footer-dots>
</div>
