<section>
  <h3 class="text-center">Polityka prywatności portalu <a routerLink="/" role="link" title="EliteRunnersClub">eliterunnersclub.eu</a></h3>
  <ol>
    <li>Informacje ogólne
      Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych przekazanych przez Użytkowników w związku z korzystaniem przez nich usług poprzez portalu  www.eliterunnersclub.eu</li>
    <li>Administratorem danych osobowych zawartych w portalu jest: Fundacja Rozwoju ALTER-EGO z siedzibą w Oleśnicy, KRS 0000569964, NIP 9112011485, REGON 362219407.</li>
    <li>W trosce o bezpieczeństwo powierzonych nam danych opracowaliśmy wewnętrzne procedury i zalecenia, które mają zapobiec udostępnieniu danych osobom nieupoważnionym. Kontrolujemy ich wykonywanie i stale sprawdzamy ich zgodność z odpowiednimi aktami prawnymi - ustawą o ochronie danych osobowych, ustawą o świadczeniu usług drogą elektroniczną, a także wszelkiego rodzaju aktach wykonawczych i aktach prawa wspólnotowego.</li>
    <li>Dane Osobowe przetwarzane są na podstawie zgody wyrażanej przez Użytkownika oraz w przypadkach, w których przepisy prawa upoważniają Administratora do przetwarzania danych osobowych na podstawie przepisów prawa.</li>
    <li>Witryna realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniach w następujący sposób:
      <ol>
        <li>Poprzez dobrowolnie wprowadzone w formularzach rejestracyjnych.</li>
        <li>Poprzez gromadzenie plików “cookies” [patrz polityka plików “cookies”].</li>
      </ol>
    </li>
    <li>Portal growadzi informacje dobrowolnie podane przez użytkownika.</li>
    <li>Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza np. w celu dokonania procesu obsługi kontaktu informacyjnego.</li>
    <li>Dane osobowe pozostawione w serwisie nie zostaną sprzedane, ani udostępnione osobom trzecim, zgodnie z przepisami Ustawy o ochronie danych osobowych.</li>
    <li>Do danych zawartych w formularzu rejestracyjnym przysługuje wgląd osobie fizycznej, która je tam umieściła. Osoba ta ma również praw do modyfikacji i zaprzestania przetwarzania swoich danych w dowolnym momencie.</li>
    <li>Zastrzegamy sobie prawo do zmiany w polityce ochrony prywatności portalu, na które może wpłynąć rozwój technologii internetowej, ewentualne zmiany prawa w zakresie ochrony danych osobowych oraz rozwój naszego portalu. O wszelkich zmianach będziemy informować w sposób widoczny i zrozumiały.</li>
    <li>W portalu mogą pojawiać się linki do innych stron internetowych. Takie strony internetowe działają niezależnie od portalu  i nie są w żaden sposób nadzorowane przez administratora portalu www.eliterunnersclub.eu Strony te mogą posiadać własne polityki dotyczące prywatności oraz regulaminy, z którymi zalecamy się zapoznać.</li>
  </ol>
  W razie wątpliwości co któregokolwiek z zapisów niniejszej polityki prywatności jesteśmy do dyspozycji - nasze dane znaleźć można w zakładce <a routerLink="/kontakt" role="link" title="Kontakt">Kontakt</a>.
</section>
