@import "variables";

body {
  background: $white;
  color: $text-color;
  overflow-x: hidden;
}
section {
  margin: 120px 0 50px;
}
a {
  color: $golden-dream;
  transition: .6s;

  &:hover, &:active, &:focus {
    color: darken($golden-dream, 20%);
    outline: none;
    text-decoration: none;
  }
}
h3 {
  color: $golden-dream;
  margin: 20px 0;
}
p {
  font-family: $text-font;
  line-height: 30px;
  margin-bottom: 30px;
  padding: 0;
  text-align: justify;
}
.overlay {
  background: $woodsmoke;
  height: 370px;
  max-width: 100%;

  h2 {
    color: $golden-dream;
    padding-top: 270px;
    top:300px;
  }
}
@media (max-width: 768px) {
  .overlay {
    height: 120px;
    h2 {
      padding: 0;
    }
  }
}
