@import "variables";

body {
  background: $white;
  color: $text-color;
  font-family: $text-font;
  overflow-x: hidden;
}

a {
  color: $golden-dream;
  transition: .6s;

  &:hover, &:active, &:focus {
    color: darken($golden-dream, 20%);
    outline: none;
    text-decoration: none;
  }
}

p {
  margin: 0 0 30px 0;
  padding: 0;
}

.overlay {
  background: $woodsmoke;
  height: 370px;
  max-width: 100%;

  h2 {
    color: $golden-dream;
    padding-top: 270px;
    top:300px;
  }
}

@media (max-width: 768px) {
  .overlay {
    height: 120px;
    h2 {
      padding: 0;
    }
  }
}
