.section-header {
  .section-title {
    color: #111111;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
  }

  .section-description {
    color: #777777;
    font-style: italic;
    padding-bottom: 40px;
    text-align: center;
  }

  .section-divider {
    background: $golden-dream;
    display: block;
    height: 3px;
    margin: 0 auto 20px;
    width: 60px;
  }
}