//@import "../../node_modules/npm-font-open-sans/open-sans.css"; // TODO: Add this font.
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i&subset=latin-ext');

// Default color variables.
// TODO: Rename colors to colors name rather than its function.
$heading-color: #333333;
$text-color: #666666;

$woodsmoke: #131717;
$golden-dream: #edc92b;
$white: #ffffff;

// Font variables.
// TODO: Change fonts.
$accent-font: 'Bitter', serif;
$text-font: 'Open Sans', sans-serif;
