//@import "../../node_modules/npm-font-open-sans/open-sans.css"; // TODO: Add this font.
//@import "../../node_modules/typeface-montserrat/index.css"; // TODO: Add font.

// Default color variables.
// TODO: Rename colors to colors name rather than its function.

$accent-color: #1dc8cd;
$heading-color: #333333;
$text-color: #666666;

// TODO: Justify those colors.
$first-color: #131717;
$golden-dream: #edc92b;
$white: #ffffff;

// Font variables.
$accent-font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
