<section>
  <div class="features-row section-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img class="advanced-feature-img-left" src="assets/images/advanced-feature-1.jpg" alt="" title="" data-aos="fade-left">
          <div data-aos="fade-right">
            <h2>Responsywna platforma biegowa</h2>
            <h3>Niezależnie czy jesteś na laptopie, tablecie czy telefonie, RunnersElite wyświetla się poprawnie w każdym rozmiarze.</h3>
            <p>Stosując nowoczesną technologię informatyczną byliśmy w stanie stworzyć platformę, która chętnie dostosuje się do rozmiaru Twojego ekranu.</p>
            <p>Oprócz dostosowania do rozmiaru ekranu oddajemy Biegaczom do dyspozycji rozwiązanie szyte na miarę dla biegowej społeczność od biegaczy. Nasza platforma internetowa jest unikatowa pod kątem ekosystemu jaki razem tworzymy.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img class="advanced-feature-img-right" src="assets/images/advanced-feature-1.jpg" alt="" title="" data-aos="fade-left">
          <div data-aos="fade-left">
            <h2>Skonsultuj swoje plany treningowe i zacznij biegać efektywniej</h2>
            <i class="ion-ios-paper-outline" data-aos="fade-left"></i>
            <p data-aos="fade-left">Nie planuj samemu swoich treningów, spytaj się społeczności, unikaj kontuzji, podnoś swoją efektywność, szybkość oraz technikę biegową dzięki wiedzy społeczności.</p>
            <i class="ion-ios-color-filter-outline" data-aos="fade-left" data-aos-delay="200"></i>
            <p data-aos="fade-left" data-aos-delay="200">Pomagając sobie nawzajem wymieniamy informacje biegowe tworząc unikatowy ekosystem biegowego partnerstwa, w którym pomagamy sobie nawzajem.</p>
            <i class="ion-ios-barcode-outline" data-aos="fade-left" data-aos-delay="400"></i>
            <p data-aos="fade-left" data-aos-delay="400">Fantastyczna atmosfera panująca na naszym forum jest odzwierciedleniem ludzi, którzy ją tworzą i mają realną wartość, którą zamieniamy na wspólne bieganie.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-row section-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img src="assets/images/advanced-feature-3.jpg" alt="" title="" class="advanced-feature-img-right" data-aos="fade-left">
          <div>
            <h2>Raporty treningowe</h2>
            <h3>Wystarczy kilka sekund spojrzenia na wykresy, żebyś stwierdził na jakim etapie treningowym jesteś.</h3>
            <p>Przerzuć się na przyjazne dla ludzi wykresy oraz raporty, który na pierwszy rzut oka i bez skomplikowany
              obliczeń pozwolą Ci ocenić obecną dyspozycję.</p>
            <i class="ion-ios-albums-outline"></i>
            <p>Przyjazne środowisko e-klubu ułatwi Ci ocenić aktualną formę, możliwości, konsultacje na zasadzie
              wzajemnej pomocy z innymi członkami klubu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>