@import "../../scss/style";

section {
  margin: 120px 0;
  h2 {
    color: darken($golden-dream, 10%);
    margin: 25px 0 25px;
  }
  h3 {
    color: $golden-dream;
    margin: 20px 0;
  }
  .steps {
    //border-radius: 3px;
    display: flex;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    margin: 0 auto;
    strong {
      display: block;
      font-size: 18px;
      line-height: 1;
    }
    &>li {
      display: block;
      height: 60px;
      position: relative;
      width: 100%;
    }
  }
}

// TODO: Prepare version for mobile (tablet & phones).
@media (min-width: 768px) {
  .steps {
    & > li {
      &.third_step {
        &>span:after {
          border-left-color: $woodsmoke;
        }
      }
      text-align: center;
      & > span {
        &:after {
          border-width: 34px;
          border-left-color: $golden-dream;
          top: -5px;
          z-index: 1;
        }
        &:after,
        &:before {
          border: 30px solid transparent;
          border-left-color: $golden-dream;
          content: "";
          display: block;
          height: 0;
          left: 0;
          position: absolute;
          top: 0;
          width: 0;
          z-index: 2;
        }
      }
      &:first-child i, &:last-child i {
        border: 30px solid transparent;
        border-left-color: $golden-dream;
        display: block;
        left: 0;
        position: absolute;
        top: 0;
      }
      &:last-child i {
        border-bottom-color: white;
        border-left-color: transparent;
        border-top-color: white;
        left: auto;
        right: -30px;
      }
    }
    .first_step, .third_step {
      background: $golden-dream;
      color: $woodsmoke;
    }
    .second_step, .fourth_step {
      background: $woodsmoke;
      color: $golden-dream;
    }
    li.first_step, li.third_step + li > span:before {
      border-left-color: $golden-dream;
    }
    li.second_step + li > span:before {
      border-left-color: $woodsmoke;
    }
  }
}
