<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- TODO: Styling. -->
        <h3>Członkostwo</h3>
        <!-- TODO: Change icons. -->
        <i class="ion-ios-contact-outline" data-aos="fade-right" data-aos-delay="400"></i>
        <p data-aos="fade-left" data-aos-delay="400">Członkostwo jest dobrowolne i odpłatne, niezależne od miejsca Twojego zamieszkania.</p>
        <i class="ion-ios-contact-outline" data-aos="fade-right" data-aos-delay="800"></i>
        <p data-aos="fade-left" data-aos-delay="800">Członkiem Klubu może być osoba pełnoletnia.</p>
        <i class="ion-ios-contact-outline" data-aos="fade-right" data-aos-delay="1200"></i>
        <p data-aos="fade-left" data-aos-delay="1200">Akceptując <a routerLink="/regulamin" role="link" title="Regulamin">Regulamin</a> i <a routerLink="/prywatnosc" role="link" title="Polityka Prywatności">Politykę Prywatności</a> Twoje członkostwo jest chronione, a Twoje dane nie są przekazywane osobom trzecim.</p>
        <i class="ion-ios-contact-outline" data-aos="fade-right" data-aos-delay="1600"></i>
        <p data-aos="fade-left" data-aos-delay="1600">Miesięczna opłata abonamentowa dostępu do portalu wynosi <strong>37,- PLN</strong>.</p>
        <p class="text-justify">Wpłacana regularnie pozwala w pełni korzystać z funkcjonalnych aplikacji portalu oraz dodatkowych korzyści wynikających z członkostwa.</p>
        <ul>
          <li><strong>6 miesięcznych opłat</strong> &ndash; koszulka gratis;</li>
          <li><strong>12 miesięcznch opłat</strong> &ndash; klubowa kurtka gratis;</li>
          <li><strong>na życzenie spersonifikowana</strong> &ndash; plastikowa karta członkowska (zamówienie min. 10 członków, koszt jednostkowy 30 zł/kartę);</li>
          <li><strong>RABATY</strong> &ndash; w opłatach startowych, zniżki w zakupie odzieży i sprzętu biegowego;</li>
        </ul>
        <p class="text-justify">W celu uzyskania członkostwa:</p>
        <ul class="steps">
          <li class="first_step"><span><strong>Krok 1</strong>Zapoznać się z regulaminem</span><i></i></li>
          <li class="second_step"><span><strong>Krok 2</strong>Dokonać rejestracji</span><i></i></li>
          <li class="third_step"><span><strong>Krok 3</strong>Dokonać płatności</span><i></i></li>
          <li class="fourth_step"><span><strong>Krok 4</strong>Aktywnie korzystaj</span><i></i></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="overlay text-center">
  <app-footer-gallery class="filter-image4"></app-footer-gallery>
  <h2 class="text-center">Zarejestruj się, korzystaj i rozwijaj razem z nami.</h2>
  <app-footer-dots class="filter-dots4"></app-footer-dots>
</div>
