<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- TODO: Styling. -->
        <h3>Członkostwo</h3>
        <i class="ion-ios-body-outline" data-aos="fade-right" data-aos-delay="400"></i>
        <p data-aos="fade-left" data-aos-delay="400">Członkiem Klubu może zostać każda osoba pełnoletnia, pełna pasji biegowej.</p>
        <i class="ion-ios-person-add-outline" data-aos="fade-right" data-aos-delay="800"></i>
        <p data-aos="fade-left" data-aos-delay="800">Członkostwo jest dobrowolne, niezależne od miejsca Twojego zamieszkania i stopnia zaawansowania.</p>
        <i class="ion-ios-lock-outline" data-aos="fade-right" data-aos-delay="1200"></i>
        <p data-aos="fade-left" data-aos-delay="1200">Akceptując <a routerLink="/regulamin" role="link" title="Regulamin">Regulamin</a> i <a routerLink="/prywatnosc" role="link" title="Polityka Prywatności">Politykę Prywatności</a> Twoje członkostwo jest chronione, a Twoje dane nie są przekazywane osobom trzecim.</p>
        <i class="ion-ios-information-circle-outline" data-aos="fade-right" data-aos-delay="1600"></i>
        <p data-aos="fade-left" data-aos-delay="1600">Klubowa składka członkowska umożliwiająca jednocześnie korzystanie z pełnego dostępu do portalu opłacana jest:</p>
        <i class="ion-ios-cash-outline" data-aos="fade-right" data-aos-delay="2000"></i>
        <p data-aos="fade-left" data-aos-delay="2000">Kwartalnie (3 kolejne miesiące): <strong>57 zł</strong></p>
        <i class="ion-ios-cash-outline" data-aos="fade-right" data-aos-delay="2000"></i>
        <p data-aos="fade-left" data-aos-delay="2000">Rocznie (12 miesięcy):  <strong>197 zł</strong></p>
        <p class="text-justify">W przypadku dokonania rocznej opłaty składki członkowskiej w klubie, <strong>koszulka klubowa gratis wraz z naklejką na samochód</strong>.</p>
        <p class="text-justify"><strong>Pierwszy miesiąc (30 dni) od momentu dokonania pierwszej rejestracji w klubie jest dla wszystkich członków bezpłatny</strong>.</p>
        <p class="text-justify">Wpłacana regularnie pozwala w pełni korzystać z funkcjonalnych aplikacji portalu oraz dodatkowych korzyści wynikających z członkostwa.</p>
        <ul>
          <li><strong>na życzenie spersonifikowana</strong> &ndash; plastikowa karta członkowska (zamówienie min. 10 członków, koszt jednostkowy 30 zł/kartę);</li>
          <li><strong>RABATY</strong> &ndash; w opłatach startowych, zniżki w zakupie odzieży i sprzętu biegowego;</li>
        </ul>
        <div class="images">
          <img src="assets/images/t-shirts.jpg"
               alt="Koszulka klubowa"
               title="Koszulka klubowa"
               class="img-responsive"
          >
          <img src="assets/images/gift-card.png"
               alt="Karta członkowska"
               title="Karta członkowska"
               class="img-responsive"
          >
        </div>
        <p class="text-justify steps-text">W celu uzyskania członkostwa:</p>
        <div class="steps">
          <div class="pair">
            <p><strong>KROK 1</strong></p><p>zapoznaj się<br>z regulaminem</p>
          </div>
          <div class="pair">
            <p><strong>KROK 2</strong></p><p>dokonaj<br>rejestracji</p>
          </div>
          <div class="pair">
            <p><strong>KROK 3</strong></p><p>dokonaj<br>płatności</p>
          </div>
          <div class="pair">
            <p><strong>KROK 4</strong></p><p>aktywnie<br>korzystaj</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="overlay text-center">
  <app-footer-gallery class="filter-image4"></app-footer-gallery>
  <h2 class="text-center">Zarejestruj się, korzystaj i rozwijaj razem z nami.</h2>
  <app-footer-dots class="filter-dots4"></app-footer-dots>
</div>
