<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Każde wielkie osiągnięcie zaczyna się decyzją, by spróbować!</h2>
        <h3 class="text-center">ZOSTAŃ CZŁONKIEM ELITE RUNNERS CLUB</h3>
        <p class="text-justify">Jesli masz więcej niż 18 lat, akceptujesz Regulamin i Politykę Prywatności. Członkostwo jest dobrowolne i odpłatne, niezależne od miejsca Twojego zamieszkania. Miesięczna opłata abonamentowa dostepu do portalu wynosi 37,- PLN. Twoje członkostwo jest chronione, a Twoje dane nie są przekazywane osobom trzecim.</p>
        <p class="text-justify">Wpłacana regularnie pozwala w pełni korzystać z funkcjonalnych aplikacji portalu oraz dodatkowych korzyści wynikających z członkostwa.</p>
        <ul>
          <li>karta członkowska;</li>
          <li>6 miesięcznych opłat - koszulka gratis;</li>
          <li>12 miesięcznch opłat - klubowa kurtka gratis;</li>
        </ul>
        <p class="text-justify">W celu uzyskania członkostwa należy:</p>
        <ul class="steps">
          <li class="first_step"><span><strong>Krok 1</strong>Zapoznać się z regulaminem</span><i></i></li>
          <li class="second_step"><span><strong>Krok 2</strong>Dokonać rejestracji</span><i></i></li>
          <li class="third_step"><span><strong>Krok 3</strong>Dokonać płatności</span><i></i></li>
          <li class="fourth_step"><span><strong>Krok 4</strong>Baw się i korzystaj</span><i></i></li>
        </ul>
      </div>
    </div>
  </div>
</section>
