@import "../../scss/style";

section {
  i {
    color: $text-color;
    float: left;
    font-size: 38px;
    line-height: 1;
    margin-top: -7px;
    padding-right: 15px;
    transition: .5s;
    &:before {
      background: $golden-dream;
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .images {
    text-align: center;
    img {
      max-width: 100%;
      &:last-child {
        border-radius: 20px;
        width: 300px;
      }
    }
  }
}

.steps-text {
  margin: 20px 0 -20px;
}

.steps {
  max-width: 100%;
  text-align: center;
  .pair {
    background-image: linear-gradient(
        110deg,
        $golden-dream,
        $golden-dream 50%,
        $woodsmoke 50%
    );
    border-radius: 25px;
    display: inline-block;
    margin: 60px auto;
    padding: 5px 10px;
    text-align: center;
    p {
      display: inline-block;
      margin: 0;
      text-align: center;
      vertical-align: middle;
      &:last-child {
        color: $golden-dream;
      }
    }
  }
}

app-footer-gallery.filter-image4 img {
  &:last-child {
    filter: brightness(100%);
    margin-top: -30px!important;
  }
  filter: brightness(50%);
}

app-footer-dots.filter-dots4 span {
  &:last-child {
    filter: brightness(100%);
  }
  filter: brightness(50%);
}

// TODO: Prepare version for mobile (tablet & phones).
@media (max-width: 767px) {
  .steps .pair {
    display: block;

  }
}
